# Build outputs
**/bin/
**/obj/

# User files
*.user
*.suo
*.swp
*.DS_Store

# IDE
.idea/

# Local development databases
**/researchplatform*.db
**/researchplatform*.db-shm
**/researchplatform*.db-wal
